<section class="container" ng-init="loadActivities()">
	<div class="row">
		<div class="col-md-2">
			<a class="btn btn-default" href="#/activities/new">Add Activity</a>
		</div>
		<div class="col-md-3 col-md-offset-5">
			<input type="search" ng-model="q" class="form-control col-lg-3" placeholder="Search">
		</div>
	</div>

	<p> </p>

	<table class="table table-hover">
		<tr>
			<th ng-click="orderSelector = 'activity_id'; reverse = !reverse">#</th>
			<th ng-click="orderSelector = 'activity_name'; reverse = !reverse">Name</th>
			<th ng-click="orderSelector = 'description'; reverse = !reverse">Description</th>
			<th ng-click="orderSelector = 'address'; reverse = !reverse">Address</th>
			<th ng-click="orderSelector = 'timestart'; reverse = !reverse">Time Start</th>
			<th ng-click="orderSelector = 'timeend'; reverse = !reverse">Time End</th>
			<th ng-click="orderSelector = 'status'; reverse = !reverse">Status</th>
		</tr>

		<tr ng-repeat="activity in activities | orderBy:orderSelector:reverse | filter:q as results"
			ng-click="editActivity(activity.activity_id)">
			<td>{{activity.activity_id}}</td>
			<td>{{activity.activity_name}}</td>
			<td>{{activity.description}}</td>
			<td>{{activity.address}}</td>
			<td>{{activity.timestart | date : 'medium'}}</td>
			<td>{{activity.timeend | date : 'medium'}}</td>
			<td>{{activity.status}}</td>
		</tr>

		<tr ng-if="results.length == 0"> 
			<td colspan="7">No results found</td>
		</tr>
	</table>
</section>























