<!--
Author: Yan Xu

This view is used to show the activity's details

the mode variable decide which this view used for

mode == "read"
mode == "create"
mode == "edit"

This is a example of activity variable should be

activity = {
	activityID : INTEGER
	activityName : STRING 
	description : STRING
	address : STRING
	startTime : DATE  // in backend it is timestart
	duration : INTEGER 
	status : INTEGER
	sessions : []
	participants : []
}

with,

session = {
	type : INTEGER
	subject : STRING // in backend it is name
	presenter : member
	description : STRING
}

participants : [member, ...]

-->

<div class="container">
	<!-- the mode decide the mode of view -->
	<h4>
		<span ng-if='mode == "read"'>Activity Detail</span>
		<span ng-if='mode == "create"'>Create New Activity</span>
		<span ng-if='mode == "edit"'>Edit Activity</span>
	</h4>

	<form class="form-horizontal container" name="activityForm" novalidate>
		<div class="row">
			<div class="col-md-4" ng-class="{'has-error': activityForm.activityName.$invalid && activityForm.activityName.$dirty}">
				<label for="activity-name">Activity Name</label>
				<input type="text" class="form-control" id="activity-name" name="activityName" pattern="^[1-9]\d*$" ng-model='activity.activityName' ng-readonly='mode == "read"' required>
			</div>

			<div class="col-md-4">
				<label for="activity-status">Activity Status</label>
				<select id="activity-status" class="form-control" name="status" ng-model='activity.status' ng-disabled='mode == "read"' required>
						<option value="1" selected>Complete</option>
						<option value="2" selected>Incomplete</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4" ng-class="{'has-error': activityForm.address.$invalid && activityForm.address.$dirty}">
				<label for="address">Address</label>
				<input id="address" class="form-control" name="address" ng-model='activity.address' ng-readonly='mode == "read"' maxlength='256' required />
			</div>

			<div class="col-md-4" ng-class="{'has-error': activityForm.startTime.$invalid && activityForm.startTime.$dirty}">
				<label for="start-time">Start Time</label>
				<input id="start-time" class="form-control" name="startTime" ng-model="activity.startTime" pattern="^\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}$" placeholder="2015-01-01 18:00" required />
			</div>

			<div class="col-md-4" ng-class="{'has-error': activityForm.duration.$invalid && activityForm.duration.$dirty}">
				<label for="duration">Duration (min)</label>
				<input id="duration" class="form-control" name="duration" ng-model="activity.duration" type="number" placeholder="e.g. 180" />
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<label for="description" >Description</label>
				<textarea class="form-control" id="description" name="description" ng-model="activity.description" rows="3" ng-readonly='mode == "read"' maxlength='1024'></textarea>
			</div>
		</div>

		<ul class="nav nav-tabs" ng-init="tab = 1">
			<li role="presentation" ng-class="{ active : tab === 1 }">
				<a href ng-click="tab = 1">Sessions</a>
			</li>
			<li role="presentation" ng-class="{ active : tab === 2 }">
				<a href ng-click="tab = 2">Paticipants</a>
			</li>
		</ul>

		<!-- Sessions Tab -->
		<div ng-show="tab === 1">
			<p> </p>
			<table class="table-condensed">
				<tr>
					<th>Type</th>
					<th>Subject</th>
					<th>Presenter</th>
					<th>Description</th>
					<th></th>
				</tr>

				<tr ng-repeat="session in activity.sessions">
					<td>{{session.type}}</td>
					<td>{{session.subject}}</td>
					<td>{{session.presenter.firstName}} {{session.presenter.lastName}}</td>
					<td>{{session.description}}</td>
					<td><a href ng-if='mode == "create" || mode == "edit"' ng-click="removeFrom(session, activity.sessions)">delete</a></td>
				</tr>

				<tr ng-if='mode == "create" || mode == "edit"'>
					<td>
						<input class="form-control" id="new-session-type" name ="newSessionType" ng-model="newSession.type" placeholder="Type">
					</td>
					<td>
						<input class="form-control" id="new-session-subject" name ="newSessionSubject" ng-model="newSession.subject" placeholder="Subject">
					</td>
					<td>
						<input class="form-control" id="new-session-presenter" name ="newSessionPresenter" ng-model="newSession.presenter" placeholder="John Doe">
					</td>
					<td>
						<input class="form-control" id="new-session-description" name ="newSessionDescription" ng-model="newSession.description" placeholder="Description">
					</td>
					<td>
						<button class="btn btn-default" ng-click='addNewSession()'>Add New Session</button>
					</td>
				</tr>
			</table>
		</div>

		<!-- Participants Tab -->
		<div ng-show="tab === 2">
			<p> </p>
			<table class="table-condensed">
				<tr>
					<th>Member Id</th>
					<th>Name</th>
				</tr>

				<tr ng-repeat="member in activity.participants">
					<td>{{member.memberId}}</td>
					<td>{{member.firstName}} {{member.lastName}}</td>
				</tr>
			</table>
			<button class="btn btn-default" ng-if='mode == "create" || mode == "edit"' data-toggle="modal" data-target="#participants-list-modal">Edit participants list</button>

			<!-- Participants list Modal -->
			<div class="modal fade" id="participants-list-modal" tabindex="-1" role="dialog" aria-labelledby="participants-list-title" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="participants-list-title">Participants</h4>
						</div>
						<div class="modal-body">
							<input type="search" ng-model="q" class="form-control" placeholder="Search">
							<table class="table">
								<tr>
									<th></th>
									<th ng-click="orderSelector = 'memberId'; reverse = !reverse">#</th>
									<th ng-click="orderSelector = 'firstName'; reverse = !reverse">First Name</th>
									<th ng-click="orderSelector = 'lastName'; reverse = !reverse">Last Name</th>
								</tr>
								<tr ng-class="{'success': participated}">
									<td>
										<input type="checkbox" ng-model="participated"/>
									</td>
									<td>
										100
									</td>
									<td>
										Yan
									</td>
									<td>
										Xu
									</td>
								</tr>
								<tr ng-class="{'success': participated2}">
									<td>
										<input type="checkbox" ng-model="participated2"/>
									</td>
									<td>
										101
									</td>
									<td>
										Qianqian
									</td>
									<td>
										HUANG
									</td>
								</tr>

								<!-- should load the member list here 
								<tr ng-repeat="member in members | orderBy:orderSelector:reverse | filter:q as results">
									<td><a ng-href="/members/{{member.Id}}">{{member.memberId}}</a></td>
									<td>{{member.memberTypeId}}</td>
									<td>{{member.firstName}}</td>
									<td>{{member.lastName}}</td>
									<td>{{member.nickname}}</td>
								</tr>
								-->

								<tr ng-if="results.length == 0"> 
									<td colspan="5">No results found</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">Save</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Buttons -->
		<div class="row">
			<div class="col-md-8">
				<button class="btn btn-primary" ng-click='activityForm.$valid && createActivity()' ng-if='mode == "create"'>Create</button>
				<a class="btn btn-primary" ng-href='/activities/{{activity.activityID}}/edit' ng-if='mode == "read"' >Edit</a>

				<button class="btn btn-primary" ng-click='activityForm.$valid && updateActivity()' ng-if='mode == "edit"'>Update</button>
				
				<a href class="btn btn-danger"  ng-click='deleteActivity()' ng-if='mode == "read"' >Delete</a>
				<a class="btn btn-default" href='/activities'>Close</a>
			</div>
		</div>
	</form>











