<!-- 

Author: Yan Xu

This view is used to show the members' list and the member's details

Params:

detailsView : 
	if detailsView == false or void string, the details view is hidden
	detailsView should be equals to "read", "create", or "edit" when use it.

members :
	a list contain the members, need to be assigned in list view

member : 
	a variable used to show, edit or creat member, need to be assigned when show or edit


-->


<section id='members' ng-init='loadMembers()'>
	<header>
		<h1>Members</h1>
		<a href='/members/new'>Add New Member</a>
		<input type="search" ng-model="q" placeholder="Search Members" />
	</header>

	<ul id='members-list'>
		<li>
			<span ng-click="orderSelector = 'memberId'; reverse = !reverse">Member Id</span>
			<span ng-click="orderSelector = 'memberTypeId'; reverse = !reverse">Member Type</span>
			<span ng-click="orderSelector = 'firstName'; reverse = !reverse">First Name</span>
			<span ng-click="orderSelector = 'lastName'; reverse = !reverse">Last Name</span>
			<span ng-click="orderSelector = 'nickName'; reverse = !reverse">Nick</span>
			<span ng-click="orderSelector = 'sex'; reverse = !reverse">Gender</span>
		</li>
		<li ng-repeat="member in members | orderBy:orderSelector:reverse | filter:q as results">
			<a ng-href='/members/{{member.memberId}}'>{{member.memberId}}</a>
			<span>{{member.memberTypeId}}</span>
			<span>{{member.firstName}}</span>
			<span>{{member.lastName}}</span>
			<span>{{member.nickName}}</span>
			<span>{{member.sex}}</span>
		</li>
		<li ng-if="results.length == 0">
			<strong>No results found...</strong>
		</li>
	</ul>

	<!-- member detail modal, if the controller is membersController, this modal will be hide -->
	<div id='member-details' class='modal' ng-show='detailsView'>
		<div class='modal-dialog'>
			<h2>
				<span ng-if='detailsView == "read"'>Member Detail</span>
				<span ng-if='detailsView == "create"'>Create New Member</span>
				<span ng-if='detailsView == "edit"'>Edit Member</span>
			</h2>
			<p ng-hide='detailsView == "read"'>All form fields are required.</p>
			<form name='memberForm' novalidate>
				<p>
					<label for='detail-memberTypeId'>Memeber Type ID:</label>
					<select id="detail-memberTypeId" ng-model='member.memberTypeId' ng-disabled='detailsView == "read"' required>
						<option value="1" selected>1</option>
						<option value="2" selected>2</option>
						<option value="3" selected>3</option>
					</select>
				</p>
				<p>
					<label for='detail-firstName'>First Name:</label>		
					<input id="detail-firstName" ng-model='member.firstName' ng-readonly='detailsView == "read"' maxlength='128' required />
				</p>
				<p>
					<label for='detail-lastName'>Last Name:</label>		
					<input id="detail-lastName" ng-model='member.lastName' ng-readonly='detailsView == "read"' maxlength='128' required />
				</p>
				<p>
					<label for='detail-email'>Email:</label>		
					<input id="detail-email" type='email' ng-model='member.email' ng-readonly='detailsView == "read"' maxlength='128' required/>
				</p>			
				<p>
					<label for='detail-nickName'>Nick Name:</label>		
					<input id="detail-nickName" ng-model='member.nickName' ng-readonly='detailsView == "read"' maxlength='128' required/>
				</p>
				<p>
					<label for='detail-address'>Address:</label>		
					<input id="detail-address" ng-model='member.address' ng-readonly='detailsView == "read"' maxlength='128' required/>
				</p>
				<p>
					<label for='detail-phone'>Tel:</label>		
					<input id="detail-phone" pattern="^[0-9-+]+$" ng-model='member.phone' ng-readonly='detailsView == "read"' maxlength='20'/>
				</p>
				<p>
					<label for='detail-sex'>Gender:</label>
					<select id="detail-sex" ng-model='member.sex' ng-disabled='detailsView == "read"' maxlength='1024' required>
						<option value="Male" selected>Male</option>
						<option value="Female">Female</option>
					</select>
				</p>
				<p>
					<label for='detail-description'>Description:</label>
					<textarea id='detail-description' ng-model='member.description' rows="4" cols="50" ng-readonly='detailsView == "read"'></textarea>
				</p>
				<p>
					<a class='button' ng-click='memberForm.$valid && createMember()' ng-if='detailsView == "create"'>Create</a>
					<a class='button' ng-click='memberForm.$valid && updateMember()' ng-if='detailsView == "edit"'>Update</a>

					<a class='button' href='/members'>Close</a>
					<a ng-href='/members/{{member.memberId}}/edit' ng-if='detailsView == "read"' >Edit</a>
					<a href ng-click='deleteMember()' ng-if='detailsView == "read"' >Delete</a>
				</p>
			</form>
		</div>
	</div>
</section>