<section class="container" ng-init="loadMembers()">
	<div class="row">
		<div class="col-md-2">
			<a class="btn btn-default" href="#/members/new">Add Member</a>
		</div>
		<div class="col-md-3 col-md-offset-5">
			<input type="search" ng-model="q" class="form-control col-lg-3" placeholder="Search">
		</div>
	</div>

	<p> </p>

	<table class="table table-hover">
		<tr>
			<th ng-click="orderSelector = 'member_id'; reverse = !reverse">#</th>
			<th ng-click="orderSelector = 'member_type'; reverse = !reverse">Type</th>
			<th ng-click="orderSelector = 'first_name'; reverse = !reverse">First Name</th>
			<th ng-click="orderSelector = 'last_name'; reverse = !reverse">Last Name</th>
			<th ng-click="orderSelector = 'nickname'; reverse = !reverse">Nick Name</th>
		</tr>

		<tr ng-repeat="member in members | orderBy:orderSelector:reverse | filter:q as results"
			ng-click="editMember(member.member_id)">
			<td>{{member.member_id}}</td>
			<td>{{member.member_type}}</td>
			<td>{{member.first_name}}</td>
			<td>{{member.last_name}}</td>
			<td>{{member.nickname}}</td>
		</tr>

		<tr ng-if="results.length == 0"> 
			<td colspan="5">No results found</td>
		</tr>
	</table>
</section>