<div class="container" ng-init="loadMember()">

	<form class="form-horizontal container" name="memberForm" novalidate>
		<div class="row">
			<table class="table">
				<tr>
					<th>Member Id</th>
					<td>{{member.member_id}}</td>
					<th>Member Type * </th>
					<td>
						<select  ng-model="member.member_type">
							<option value="Honor">Honor</option>
							<option value="Normal">Normal</option>
						</select>
					</td>
					<th>Is Active</th>
					<td><input type="checkbox" ng-model="member.is_active"></td>
				</tr>
				<tr>
					<th>Last Name * </th>
					<td><input ng-model="member.last_name"></td>

					<th>First Name * </th>
					<td><input ng-model="member.first_name"></td>

					<th>Nickname</th>
					<td><input ng-model="member.nickname"></td>
				</tr>
				<tr>
					<th>Gender</th>
					<td><select ng-model="member.sex">
						<option value="M">Male</option>
						<option value="F">Female</option>
						</select></td>
					<th>Email * </th>
					<td><input type="email" ng-model="member.email"></select></td>
					<th>Phone</th>
					<td><input ng-model="member.phone"></td>
				</tr>
				<tr>
					<th>Address</th>
					<td colspan="3"><input ng-model="member.address"></td>
				</tr>
				<tr>
					<th>Description</th>
					<td colspan="3"><textarea ng-model="member.description"></textarea></td>
				</tr>
			</table>
		</div>

		<!-- Buttons -->
		<div class="row">
			<button class="btn btn-primary col-md-4 col-md-offset-4" ng-click="saveMember()"> SAVE </button>
			<button class="btn btn-danger col-md-1 col-md-offset-3" ng-click="deleteMember()">DELETE</button>
		</div>

		<br/><br/>

		<div class="row">
			<div class="col-md-5">
				<table class="table">
					<tr>
						<th>Skill</th>
						<th>Level</th>
						<th></th>
					</tr>
					<tr ng-repeat="skill in member.skills | orderBy:'-level'">
						<td>{{skill.name}}</td>
						<td>
							<select ng-model="skill.level" disabled>
								<option value="1">Beginner</option>
								<option value="2">Intemidiare</option>
								<option value="3">Expert</option>
							</select>
						</td>
						<td><a href ng-click="deleteSkill(skill)" class="glyphicon glyphicon-minus"></a></td>
					</tr>
					<tr> 
						<td><input ng-model="newSkill.name" ></td>
						<td>
							<select ng-model="newSkill.level">
								<option value="1">Beginner</option>
								<option value="2">Intemidiare</option>
								<option value="3">Expert</option>
							</select>
						</td>
						<td><a href ng-click='addNewSkill()' class="glyphicon glyphicon-plus"></a></td>
					</tr>
				</table>
			</div>

			<div class="col-md-6 col-md-offset-1">
				<table class="table">
					<tr>
						<td colspan="3">Total Attendances: {{member.attendances.length}}</td>
					</tr>
					<tr>
						<th>Activity Id</th>
						<th>Activity Name</th>
						<th>Activity Date</th>
					</tr>
					<tr ng-repeat="attendance in member.attendances | orderBy:attendance.date:reverse | limitTo: 10">
						<td>{{attendance.activity_id}}</td>
						<td>{{attendance.activity_name}}</td>
						<td>{{attendance.timestart | date : mediumDate}}</td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>
